<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="<%= title %>">
	<% if(typeof article !== 'undefined'){ %>
	<meta name="keywords" content="<%= article.tags%>">
	<% } %>
	<meta name="author" content="zinger">
	<title><%= title %></title>
	<link rel="icon" type="image/png" href="/icon.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
	<link rel="stylesheet" type="text/css" href="/assets/lib/font-awesome/css/font-awesome.min.css">
</head>
<body>