<!-- site-footer beign -->
<div class="site-footer">
	<div class="container">
		<div class="site-footer-content">Copyright © 2016 Zinger<a href="https://github.com/zingercn" target="_blank"><i class="fa fa-github github"></i></a></div>
	</div>
</div>
<!-- site-footer end -->
<!-- 回到顶部 -->
<div class="gotop" id="gotop"><i class="fa fa-angle-up"></i></div>