<div class="site-sidebar">
	<ul id="site-sidebar-list" data-id="<%= nav %>">
		<li>
			<a href="/admin/article/list">
				<i class="fa fa-file-text-o"></i>文章管理
				<i class="fa arrow"></i>
			</a>
		</li>
		<li>
			<a href="/admin/sidebar/list">
				<i class="fa fa-file-text-o"></i>侧栏管理
				<i class="fa arrow"></i>
			</a>
		</li>
		<li>
			<a href="/admin/comment/list">
				<i class="fa fa-file-text-o"></i>评论管理
				<i class="fa arrow"></i>
			</a>
		</li>
	</ul>
</div>